.jumbotron{background-color: rgb(121, 119, 107)!important;}

.form-editEmployee {
    width: -50%;
    padding: 80px;
    margin: 0 auto;
}

.validation {
  color: #d9534f 
}

.thumbnail p, .thumbnail h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.input-group.input-group-unstyled input.form-control {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
  border-radius: 4px;
  border: 0px;
  background-color: transparent;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}